<section class="flex-shrink-0 mt-5">
  <div class="container">
    <h3>Active branches</h3>
    <p class="text-muted mb-4">Latest stable releases under active maintenance</p>
    <p class="lead mb-1"><strong>Normal maintenance</strong></p>
    <p><code><%= @normal.join(', ') %></code></p>

    <p class="lead mb-1"><strong>Security maintenance</strong></p>
    <p><code><%= @security.join(', ') %></code></p>

    <p class="text-muted small">Last update: <%= @last_update %></p>
  </div>
</section>

<section class="flex-shrink-0 mt-5">
  <div class="container">
    <h3>API</h3>
    <p class="text-muted mb-4">Programmatic access to branches status and release infos</p>
    <p class="mb-1"><strong>Endpoint</strong></p>
    <p class="mb-4"><code>https://rubies.io/api</code></p>

    <div class="mb-4">
      <p class="mb-1">Statuses</p>
      <% @statuses_ex.each do |status| %>
      <p class="api mb-0"><code>/<%= status %></code></p>
      <% end %>
    </div>

    <div class="mb-4">
      <p class="mb-1">Branches</p>
      <% @branches_ex.each do |branch| %>
      <p class="api mb-0"><code>/<%= branch %></code></p>
      <% end %>
      <p class="mb-0"><code>etc...</code></p>
    </div>

    <div class="mb-4">
      <p class="mb-1">Releases</p>
      <% @releases_ex.each do |release| %>
      <p class="api mb-0"><code>/<%= release %></code></p>
      <% end %>
      <p class="mb-0"><code>etc...</code></p>
    </div>
  </div>
</section>
